*{
    padding: 0%;
    margin: 0%;
}

#name{
    width: 30vw;
    height: 5vh;  
} 
#button{
    width: 30vw;
    height: 5vh;
    border-radius: 2em;
    background-color: lightslategrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}   

#clear{
    width: 6vw;
    height: 5.5vh;
    border-radius: 2em;
    background-color: lightsteelblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.flex-container{

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vh;
}


body{

    background-image: url("https://i.pinimg.com/originals/d8/46/5e/d8465e80d68e6f3fb3227499da7fc5af.jpg"); /*tShBLieTct33xFkpvY6ioE__zow0DKwNsPZggbi5cng*/
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

#place{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
}

#heading{
    display: flex;
    justify-content: center;
    background-color: navy;
}
figure{

    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}